# Terraform
.terraform/
.terraform.lock.hcl

# State (NEVER COMMIT)
terraform.tfstate
terraform.tfstate.*

# tfvars often contain secrets / sensitive values
terraform.tfvars

# Crash logs
crash.log
crash.*.log

# Local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json