version: "3.8"

services:
  {{ app_name }}:
    image: {{ docker_image }}:{{ docker_image_tag }}
    container_name: {{ app_name }}
    ports:
      - "{{ app_port }}:{{ app_internal_port }}"
    environment:
{% for key, val in app_env.items() %}
      {{ key }}: "{{ val }}"
{% endfor %}
      APP_SECRET_KEY: "{{ app_secret_key }}"
    restart: unless-stopped
